// Main color variables
$color-black: #000000;
$color-background: #101012;
$color-foreground: #ffffff;
$color-grey: #cfcfd0;
$color-dots: #878788;
$color-blue: #136DF4;

$transition-easeOutCubic: 0.3s cubic-bezier(0.33, 1, 0.68, 1);
