@use '@splidejs/vue-splide/css/core';
@use 'reset';
@use 'typography';
@use 'animations';
@use 'variables' as *;
@use 'mixins' as *;
@use 'functions' as *;

// Other global styles, variables, mixins, etc.

// html {
//   scrollbar-gutter: stable;
// }

// html,
// body {
//   overflow: hidden;
// }

body {
  background-color: $color-background;
  color: $color-foreground;
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: white(20);
    border-radius: 6px;
    transition: background-color 0.5s ease;
  }
}

// .lenis,
// .lenis body {
//   overflow-x: hidden;
//   overflow-y: auto;
//   &::-webkit-scrollbar-thumb {
//     background-color: white(20);
//   }
// }
// .lenis-stopped {
//   overflow: hidden;
//   body::-webkit-scrollbar-thumb {
//     background-color: transparent;
//   }
// }

.container {
  @include container;
}
