@use 'reset';
@use 'typography';
@use 'variables' as *;
@use 'functions' as *;

// Other global styles, variables, mixins, etc.

body {
  background-color: $color-background;
  color: $color-foreground;
}

.container {
  padding: 0 $main-padding;
  margin: 0 auto;
}

// Styles for ScrollSmoother
#smooth-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// Respect user preference for reduced motion
@media (prefers-reduced-motion: reduce) {
  #smooth-wrapper {
    position: static;
    height: auto;
    overflow: visible;
  }
}

#smooth-content {
  overflow: visible;
  width: 100%;
}
